{% extends "base.html" %}

{% block content %}
<div class="tile is-ancestor columns">
    <div class="column is-three-quarters">
        <div>
            <h3 class="title is-child">Garage Table</h3>
            <div class="box">
                <div class="colums" style="overflow: auto">
                    <table>
                        <tr>
                            <th style="width: 2%; text-align: end" >id</th>
                            <th style="width: 6%; text-align: end" >שם</th>
                            <th style="width: 6%; text-align: end" >USER</th>
                            <th style="width: 6%; text-align: end" >סיסמא</th>
                            <th style="width: 10%; text-align: end"> EMAIL </th>
                            <th style="width: 6%; text-align: end" > מייצג </th>
                            <th style="width: 8%; text-align: end" > נייד </th>
                            <th style="width: 8%; text-align: end" > טלפון  </th>
                            <th style="width: 10%; text-align: end"> שם_למסמכים </th>
                            <th style="width: 8%; text-align: end" > פקס </th>
                            <th style="width: 10%; text-align: end"> כתובת </th>
                            <th style="width: 8%; text-align: end" > עיר </th>
                            <th style="width: 8%; text-align: end" > ח.פ./ת.ז </th>
                        </tr>
                        <indent>
                            {% for x in aprisers: %}
                            {% if x.isBlocked == 1 %}
                            <tr style="background-color: red">
                                {% else %}
                            <tr>
                                {% endif %}
                                <td style="width: 2%; text-align: end" >{{ x.id }}</td>
                                <td style="width: 6%; text-align: end" >{{ x.name }}</td>
                                <td style="width: 6%; text-align: end" >{{ x.user}}</td>
                                <td style="width: 6%; text-align: end" >{{ x.password}}</td>
                                <td style="width: 10%; text-align: end">{{ x.email}}</td>
                                <td style="width: 6%; text-align: end" >{{ x.login}}</td>
                                <td style="width: 8%; text-align: end" >{{ x.mobile}}</td>
                                <td style="width: 8%; text-align: end" >{{ x.phone}}</td>
                                <td style="width: 10%; text-align: end">{{ x.organization}}</td>
                                <td style="width: 8%; text-align: end" >{{ x.fax}}</td>
                                <td style="width: 10%; text-align: end">{{ x.adres}}</td>
                                <td style="width: 8%; text-align: end" >{{ x.city}}</td>
                                <td style="width: 8%; text-align: end" > {{ x.passportid}}</td>
                            </tr>
                            {% endfor %}
                        </indent>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-one-quarter">
        <h3 class="title">Add Customer</h3>
        <div class="box">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">create page</a>.
            </div>
            {% endif %}
            {% endwith %}
            <form method="POST" action="/create_apriser">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" name="id" placeholder="id" autofocus="">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" name="name" placeholder="שם" autofocus="">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" name="user" placeholder="USER" autofocus="">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="password" name="password" placeholder="סיסמא">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" name="login" placeholder="מייצג" autofocus="">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" name="mobile" placeholder="נייד" autofocus="">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" name="phone" placeholder="טלפון" autofocus="">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" name="orgamization" placeholder="שם_למסמכים" autofocus="">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" name="fax" placeholder="פקס" autofocus="">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" name="adres" placeholder="כתובת" autofocus="">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" name="city" placeholder="עיר" autofocus="">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" name="passpotid" placeholder="ח.פ./ת.ז" autofocus="">
                    </div>
                </div>

                <button class="button is-block is-info is-large is-fullwidth">Add/Update</button>
            </form>


        </div>
        <div class="box">
            <form method="POST" action="/delete_apriser">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" name="user" placeholder="USER" autofocus="">
                    </div>
                </div>
                <button class="button is-block is-info is-large is-fullwidth">DELETE</button>
            </form>
        </div>
        <div class="box">
            <form method="POST" action="/block_apriser">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" name="user" placeholder="USER" autofocus="">
                    </div>
                </div>
                <button class="button is-block is-info is-large is-fullwidth">BLOCK/UNBLOCK</button>
            </form>
        </div>
    </div>

</div>


    {% endblock %}

