{% extends "base.html" %}

{% block content %}

<div class="column is-4 is-offset-4">
    <h3 class="title">Add Customer</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">create page</a>.
        </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/create_apriser">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="name" placeholder="שם" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="user" placeholder="USER" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="סיסמא">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="login" placeholder="מייצג" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="mobile" placeholder="נייד" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="phone" placeholder="טלפון" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="orgamization" placeholder="שם_למסמכים" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="fax" placeholder="פקס" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="adres" placeholder="כתובת" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="city" placeholder="עיר" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="passpotid" placeholder="ח.פ./ת.ז" autofocus="">
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Add/Update Garage</button>
        </form>

        <form method="POST" action="/create_garage">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="name" placeholder="שם" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="user" placeholder="USER" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="סיסמא">
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Add/Update Appriser</button>
        </form>
    </div>
</div>
    {% endblock %}

